@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Root */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --main-font: 'Poppins', sans-serif;
  --red-color: #e63946;
  --off-white-color: #f1faee;
  --very-light-color: #a8dadc;
  --light-blue-color: #457b9d;
  --dark-blue-color:#1d3557;
  --grey-color: #999;
  --light-grey-color: #d9d9d9;
  --mobile-grey-color: rgba(107, 106, 106, 0.6);
}

html {
  box-sizing: border-box;
  font-family: var(--main-font);
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/Images/wave.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Login Image Container */

.login-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-img {
  display: none;
  width: 300px;
}

/* Login Container */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

form{
  width: 350px;
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  background-color: var(--very-light-color);
  border-radius: 58% 42% 76% 24% / 49% 72% 28% 51%;
  border: 3px #fff solid;
}

.avatar-img {
  width: 100px;
  height: auto;
}

h1 {
  font-size: 2.9rem;
  text-transform: uppercase;
  color: #333;
  margin: 15px 0;
}

.input-container {
  display: grid;
  position: relative;
  grid-template-columns: 10% 90%;
  margin-top: 25px;
  margin-bottom: 5px;
  padding: 5px 0;
  border-bottom: 2px solid var(--mobile-grey-color);
}

/* Create the underline when the element is focused */
.input-container::after, .input-container::before {
  content: '';
  position: absolute;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: var(--light-blue-color);
  transition: 0.3s;
}

/* Position the underline in the middle of the element */
.input-container::after {
  right: 50%;
}

.input-container::before {
  left: 50%;
}

/* When the underline is focused, expand the line */
.input-container.focus::after, .input-container.focus::before {
  width: 50%;
}

.input-container.focus i {
  color: var(--light-blue-color);
}

.input-container.focus label {
  top: -20px;
  font-size: 0.9rem;
}

.input-icon-container i {
  color: var(--mobile-grey-color); 
  transition: 0.3s;
}

.input-content-container {
  position: relative;
}

label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 0.7rem;
  font-size: 1.1rem;
  color: var(--mobile-grey-color); 
  transition: 0.3s;
}

.input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: var(--dark-blue-color);
}

input:required {
  box-shadow: none;
}

a {
  display: block;
  color: var(--mobile-grey-color);
  font-size: 0.9rem;
  text-align: right;
  text-decoration: none;
  outline: none;
  transition: 0.3s;
}

a:hover {
  color: var(--dark-blue-color);
}

.btn {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border: none;
  outline: none;
  font-size: 1.1rem;
  margin: 2rem 0;
  background-color: var(--very-light-color);
  cursor: pointer;
  color: #333;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--main-font);
  transition: all 0.3s ease 0s;
}

.btn:hover {
  background-color: var(--light-blue-color);
  color: #fff;
  box-shadow: 0px 15px 20px rgba(69, 123, 157, 0.4);
  transform: translateY(-7px);
}

/* Media Queries */

@media screen and (min-width: 800px) {

  main {
    background-size: initial;
  }

}

@media screen and (min-width: 890px) {

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15rem;
    padding: 0 4rem;
  }

  img.login-img {
    display: block;
    max-width: 400px;
    height: auto;
  }

  label {
    color: var(--grey-color);
  }

  .input-container {
    border-bottom: 2px solid var(--light-grey-color);
  }

  .input-icon-container i {
    color: var(--light-grey-color);
  }

  a {
    color: var(--grey-color);
  }

}